* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background: #fbfbfe;
}
main {
  padding: 1rem;
  width: 1000px;
}
h1 {
  font-weight: bold;
  font-size: 1.5rem;
}
.s-toolBar {
  display: flex;
  justify-content: space-between;
}
.s-toolBar > .s-buttonCategory {
  background-color: #18b7ce;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 14px;
}
.s-toolBar > .s-buttonCategory > i {
  padding: 10px;
}

.s-toolBar > .s-searchButton {
  background-color: #fbfbfe;
  border: 1px;
  border-style: solid;
  border-radius: 4px;
  border-color: #a1a9b0;
  color: #a1a9b0;
}
.s-toolBar > .s-searchButton > i {
  padding: 10px;
}
.s-categoryGrid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin-top: 10px;
  gap: 20px;
}
.s-categoryItem {
  background: #ffffff;
  border: 1px solid #e5e8eb;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  margin-bottom: auto;
}

h2 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  line-height: 21px;
}
.categoryGridItem__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
}
.categoryGridItem__contentItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.categoryGridItem__contentItem > i {
  margin-top: 14px;
}

.categoryGridItem__content > .s-buttonTag {
  background-color: #49495c;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 14px;
  width: 100%;
  height: 36px;
}
.categoryGridItem__content > .s-buttonTag > i {
  margin-right: 8px;
}
