* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background: #fbfbfe;
}
main {
  padding: 1rem;
  width: 1000px;
}
h1 {
  font-weight: bold;
  font-size: 1.5rem;
}
.flex-container {
  display: flex;
  justify-content: space-between;
}
.flex-container > .tag-button {
  background-color: #18b7ce;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 14px;
}
.flex-container > .tag-button > i {
  padding: 10px;
}

.flex-container > .search-button {
  background-color: #fbfbfe;
  border: 1px;
  border-style: solid;
  border-radius: 4px;
  border-color: #a1a9b0;
  color: #a1a9b0;
}
.flex-container > .search-button > i {
  padding: 10px;
}
.css-grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin-top: 10px;
  column-gap: 20px;
  row-gap: 20px;
}
.item1 {
  background: #ffffff;
  border: 1px solid #e5e8eb;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  margin-bottom: auto;
}
.item2 {
  background: #ffffff;
  border: 1px solid #e5e8eb;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  margin-bottom: auto;
}
.item3 {
  background: #ffffff;
  border: 1px solid #e5e8eb;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  margin-bottom: auto;
}
.item4 {
  background: #ffffff;
  border: 1px solid #e5e8eb;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  margin-bottom: auto;
}
h2 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  line-height: 21px;
}
.flex-container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flex-container2-item1 {
  display: flex;
  flex-direction: row;
}
.flex-container2-item1 > i {
  align-items: flex-start;
}

.flex-container2 > .tag-button {
  background-color: #49495c;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 14px;
  width: 200px;
  height: 21px;
}
.flex-container2-item2 > .tag-button > i {
  padding: 8px;
}
